working/
cars-devkit/
stanford-cars-dataset/
different_dataset/

# some personal files
personal/
.DS_Store
model/Kevin-MIE1517-processeddata
Kevin-MIE1517-processeddata.zip
best_efficientnet_v2_s.pth
best_model_resnet152.pth